extends layout

block content
  p method-actionは #{title}
  p viewのファイル名_edit.pug [私が作成した問題を一覧表示する]
  p -----------------------------------------------------------------------------------------
      br
      a.btn(href="/") index画面へ戻る
  p -----------------------------------------------------------------------------------------
  form(method="post" action="/question/list") ■問題と回答を編集してください
      br
      span 問題:
      br
      input(type="text" name="mondai")
      br
      span 答え:
      br
      input(type="text" name="kotae")
      br
      span 解説:
      br
      input(type="text" name="kaisetu")
      br
      span ジャンル:
      br
      select(name="blood")
        br
        option(value="taxmaster") 税理士
        option(value="programer") プログラミング
        option(value="rule") 会社ルール
        option(value="sonota") その他
      br
      button(type="submit") 編集したものを登録する
      br
      button(type="list") この問題を削除する


  p ▼▼▼▼▼※開発用の案内につきここから下は削除予定▼▼▼▼▼▼
  ul この画面からの移動先
    li
     a(href="/") 1.〇index画面へ views/index.pug
    li 2.✕問題と答えを新規作成画面へ views/new.pug
    li 3.✕あなたの三択設定画面へ views/sentakuset.pug
    li 4.✕三択を解く画面へ views/question.pug
    li 
     a(href="/question/list") 5.〇自分が作成した問題を一覧表示する画面へ views/list.pug
    li 6.✕問題と答えを編集する画面へ views/edit.pug
