extends layout

block content
  p method-actionは #{title}
  p viewのファイル名_index.pug [タイトル画面]
  p -----------------------------------------------------------------------------------------
  div
    if user
      a(href="/logout") #{user.username} さんをログアウト
      p -----------------------------------------------------------------------------------------
      a.btn(href="/question/questionId") 三択を解く画面へ
      br
      a.btn(href="/question/sentakuset") あなたの三択設定へ移動する
      br
      a.btn(href="/question/new") 問題作成画面へ移動する
      br
      a.btn(href="/question/list") 自分が作成した問題を一覧表示へ移動する

    else
      a(href="/login") ログイン画面へ


  p -----------------------------------------------------------------------------------------

  p ▼▼▼▼▼※開発用の案内につきここから下は削除予定▼▼▼▼▼▼
  ul この画面からの移動先
    li 1.✕index画面へ views/index.pug
    li 
     a(href="/question/new") 2.〇問題と答えを新規作成画面へ views/new.pug
    li
     a(href="/question/sentakuset") 3.〇あなたの三択設定画面へ views/sentakuset.pug
    li 
     a(href="/question/questionId") 4.〇三択を解く画面へ views/question.pug
    li 
     a(href="/question/list") 5.〇自分が作成した問題を一覧表示する画面へ views/list.pug
    li 6.✕問題と答えを編集する画面へ views/edit.pug
